@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --nav-height: 3rem;
  --max-width: 1080px;

  --clr-dark: #2b2b2b;
  --clr-light: #f1e5dd;
  --clr-button: #f08a5d;

  --font-handwriting: 'Dancing Script', cursive;
  --font-heading: 'Merriweather', serif;
  --font-text: 'Open Sans', sans-serif;

  font-family: var(--font-text);
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-dark);
  background-color: var(--clr-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
